/**************** Index ***************/

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
} 

.navbar-header{
    margin-top: 0px;

}
.navbar-header a{
    color: rgb(255, 255, 254) !important;

}
.navbg{
    background-color: rgb(58, 58, 88);
}
 

.input-group{
    margin-left: 350px;
}

.courses{
    
    border-radius: 5px;
    font-size: 16px; 
    padding-left: 15px;
}
 
.navbar-header{
    color: dodgerblue !important;

}


.navbar-nav a{
    color: rgb(255, 255, 255) !important;
  }


.navbar-nav a:hover{
    color: rgb(16, 124, 224) !important; 
  }

.dropdown-menu a{
    color: rgb(0, 3, 0) !important;
   
}

.dropdown-menu a:hover{
    background-color: rgb(33, 35, 43) !important;
   
}

 

footer{
    color: rgb(252, 252, 252);
    background-color: rgb(51, 51, 58);
  }
 
  
  .footer-bottom{
    padding: 1em;
  }
 
.align{
    text-align: justify;
    text-justify: inter-word;
  }
  
  
.icons {
    margin-top: 25px;
  }
  
.icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer; 
    border-radius: 2px;
    font-size: 20px;
    color: #457fe4;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  .icons a:hover{
      color:rgb(97, 158, 228);
  }  
/* ^^^^^^^^^^^^^^^^^ ^^^^^^^^^^^^^^^^^^^^^^^ */

.button{
    padding: 10px 15px;
    margin: 10px 15px 10px 15px;
}

.top-margin{
    margin-top: 20px;
}

/* *********************** class  ****************** */

.class{
    padding: 10px 20px 20px 30px;
}

.chap{
    padding: 20px 20px 20px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;

}
.subject{
    padding: 20px 20px 20px 40px;
     
}
 
.sub{

    margin: 10px 30px 10px 5px;
    padding: 20px 20px 20px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;

}


/* ******************* chapter ***********************/

.main{
    margin-left: 10px;
    font-size: 14px;  
    padding: 0px 20px;
}
  
.elementId{
      height: 312px;
      overflow-y: scroll;
}
  
.white{
    color: rgb(250, 250, 250);
    
}
.pull-right{
    float:right;
}

.chpt{
    margin: 10px 40px 10px 10px; 
    font-weight: bold;
 
}
.summary{
    padding: 10px 20px 10px 10px;
}
.heading{
    padding: 10px 20px 10px 10px;
}

.question{
    padding: 10px 20px 10px 20px;
}


/********************* science    ********************************/
.glyphicon-check {
    color: #258656;
    cursor: pointer;
}

.glyphicon-unchecked {
    color: rgb(18, 158, 223);
    cursor: pointer;
}


.bg{
    background-color: rgb(241, 241, 241);
}

/*  *********************************  mobile view ********************          */

@media (max-width: 767px) {
    .input-group {
      margin:0px 0px 0px 50px;

    }
    .aj7t{
        margin: 0px 5px 0px 5px;
    }
    .elementId{ 
        height: 100%;
        overflow: hidden;
  }


} 


@media (max-width: 990px) {
    .input-group {
      margin: 0px 0px 0px 50px;

    }  

}    

